<% content_for :title do %>
  <title><%= t('views.home.distribution.title') %></title>
<% end %>
<% content_for :description do %>
  <meta name="description" content="<%= t('views.home.distribution.description') %>">
<% end %>
<% content_for :ogp do %>
  <meta property="og:title" content="<%= t('views.home.distribution.title') %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= distribution_url %>">
  <meta property="og:description" content="<%= t('views.home.distribution.description') %>">
<% end %>

<% content_for :importmap_tag do %>
  <%= javascript_importmap_tags 'home/distribution' %>
<% end %>

<div class="container" style="min-height: 100%;">
    <div class='row mx-auto pl-1 pr-1 min-vh-100'>
    <div class="d-flex flex-column mx-auto mw-100">
    <div>
    <%= render "layouts/header" %>
    <h1>
        <%= link_to t('views.home.distribution.title'), players_path, {class: "nav-link text-body ps-0"} %>
    </h1>
    <hr>
    </div>

    <div class="pt-3">
      <canvas id="ratingDistributionChart" data-ratings='<%= @ratings %>' data-name='<%= t('views.home.distribution.graphName') %>'></canvas>
    </div>

    <div class="pt-3 text-center pb-3">
      Share:
      <%= link_to "https://twitter.com/intent/tweet?text=#{t('views.home.distribution.title')}&url=#{request.url}", {target: "_blank", class: "btn btn-outline-primary"} do %>
        <i class="fab fa-twitter fa-sm"></i> Twitter
      <% end %>
    </div>

    </div>
    </div>
</div>