<% content_for :title do %>
  <title><%= t('views.players.title') %></title>
<% end %>
<% content_for :description do %>
  <meta name="description" content="<%= t('views.players.index.description') %>">
<% end %>
<% content_for :ogp do %>
  <meta property="og:title" content="<%= t('views.players.title') %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= players_url %>">
  <meta property="og:description" content="<%= t('views.players.index.description') %>">
  <meta property="og:image" content="https://chess-ranking.stu345.com/ogp.jpg">
<% end %>

<div class="container" style="min-height: 100%;">
    <div class='row mx-auto pl-1 pr-1 min-vh-100'>
    <div class="d-flex flex-column mx-auto mw-100">
    <div>
    <%= render "layouts/header" %>
    <h1>
      <%= link_to players_path, {class: "nav-link text-body ps-0"} do %>
        <i class="fa-solid fa-ranking-star d-none d-md-inline"></i>
        <%= t('views.players.title') %>
      <% end %>
    </h1>
    <div>
      <%= t('views.players.index.description') %>
    </div>
    <hr>
    </div>

    <div class="table-responsive mt-3">
      <%# filter %>
      <%# form is too long. I want to make the form shorter, but month should be in the form %>
      <%= form_with model: @search_parameter, url: "/players", method: :get, local: true, skip_enforcing_utf8: true, html: {class: "collapse2", id: "collapseExample2"} do |form| %>
      <%= hidden_field_tag "locale", I18n.locale %>

      <div class="mb-3 align-middle">
        <%= form.label :month, class: "align-middle" %>
        <%= form.select :month, Record.month_array, {selected: @search_parameter.selected_month}, {class: "align-middle"} %>
        <%= form.submit "Update", name: nil, class: "btn btn-outline-primary ms-1 btn-sm" %>
      </div>

      <%= paginate(@records) %>

      <div class="fs-5 align-items-center d-flex page-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <div><i class="fas fa-search"></i></div>
        <div class="ms-1"><%= t('views.players.index.filter') %></div>
        <div class="ms-auto">
        <i class="fas fa-angle-down fa-lg"></i>
        </div>
      </div>

      <%# collapse component %>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= form.label :name %>
            <%= form.text_field :name %>
          </li>
          <li class="list-group-item">
            <%= form.label :rating, "rating:" %>
            <%= form.number_field :rating_lower, step: 1, min: 0, class: "number-field-width" %> ~
            <%= form.number_field :rating_upper, step: 1, min: 0, class: "number-field-width" %>
          </li>
          <li class="list-group-item">
            <%= link_to "Reset", players_path, class: "btn btn-outline-warning" %>
            <%= form.submit "Search", name: nil, class: "btn btn-outline-primary" %>
          </li>
        </ul>
        </div>
      </div>
      <%# collapse component %>
      <% end %>
      <%# filter %>

      <table class="table table-striped">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
           <% page = params[:page].to_i %>
           <% page = 1 if page == 0 %>
            <% records_with_previous_month(@records, @last_month_records).each do |record, last_month_record| %>
            <tr>
              <td>
                <%= record.standard_rank %>
                <% if last_month_record.present? %>
                  <% diff = record.standard_rank - last_month_record.standard_rank %>
                  <% if diff == 0 %>
                    <span class="small text-secondary">→<%= diff %></span>
                  <% elsif diff > 0 %>
                    <span class="small text-danger">↓<%= diff %></span>
                  <% else %>
                    <span class="small text-success">↑<%= diff.abs %></span>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to record.player.name_en, record.player %>
              </td>
              <td>
                <%= record.standard_rating %>
                <% if last_month_record.present? %>
                  <% diff = record.standard_rating - last_month_record.standard_rating %>
                  <% if diff == 0 %>
                    <span class="small text-secondary">→<%= diff %></span>
                  <% elsif diff > 0 %>
                    <span class="small text-success">↑<%= diff %></span>
                  <% else %>
                    <span class="small text-danger">↓<%= diff.abs %></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
            <% @non_membership_records&.each do |non_membership_record| %>
            <tr>
              <td>
                -
              </td>
              <td>
                <%= link_to non_membership_record.player.name_en, non_membership_record.player %>
              </td>
              <td>
                -
              </td>
            </tr>
            <% end %>
          </tbody>
      </table>
      <%= paginate(@records) %>
    </div>

    <div class="pt-3 text-center pb-3">
      Share:
      <%= link_to "https://twitter.com/intent/tweet?text=#{t('views.players.title')}&url=#{request.url}", {target: "_blank", class: "btn btn-outline-primary"} do %>
        <i class="fab fa-twitter fa-sm"></i> Twitter
      <% end %>
    </div>

    </div>
    </div>
</div>