
<div class="container" style="min-height: 100%;">
    <div class='row mx-auto pl-1 pr-1 min-vh-100'>
    <div class="d-flex flex-column mx-auto mw-100">
    <div>
    <h1>
        <%= link_to "Chess Ranking in Japan", players_path, {class: "nav-link text-body ps-0"} %>
    </h1>
    <hr>
    </div>

    <div class="table-responsive mt-3">
      <%# filter %>
      <%# form is too long. I want to make the form shorter, but month should be in the form %>
      <%= form_with model: @search_parameter, url: "/players", method: :get, local: true, skip_enforcing_utf8: true, html: {class: "collapse2", id: "collapseExample2"} do |form| %>

      <div class="mb-3 align-middle">
        <%= form.label :month, class: "align-middle" %>
        <%= form.select :month, Record.month_array, {selected: @search_parameter.selected_month}, {class: "align-middle"} %>
        <%= form.submit "Update", name: nil, class: "btn btn-outline-primary ms-1 btn-sm" %>
      </div>

      <%= paginate(@records) %>

      <div class="fs-5 align-items-center d-flex page-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <div><i class="fas fa-filter"></i></div>
        <div class="ms-3">filter</div>
        <div class="ms-auto">
        <i class="fas fa-angle-down fa-lg"></i>
        </div>
      </div>

      <%# collapse component %>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= form.label :name %>
            <%= form.text_field :name %>
          </li>
          <li class="list-group-item">
            <%= form.label :rating, "rating:" %>
            <%= form.number_field :rating_lower, step: 1, min: 0, class: "number-field-width" %> ~
            <%= form.number_field :rating_upper, step: 1, min: 0, class: "number-field-width" %>
          </li>
          <li class="list-group-item">
            <%= form.label :name, "active:" %>
            <%= form.select :active, ["all", "active", "inactive"] %>
          </li>
          <li class="list-group-item">
            <%= link_to "Reset", players_path, class: "btn btn-outline-warning" %>
            <%= form.submit "Search", name: nil, class: "btn btn-outline-primary" %>
          </li>
        </ul>
        </div>
      </div>
      <%# collapse component %>
      <% end %>
      <%# filter %>

      <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Rank</th>
              <th>Name</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
           <% page = params[:page].to_i %>
           <% page = 1 if page == 0 %>
           <% nb = 1 + (page-1) * 25 %>
            <% @records.each do |record| %>
            <tr>
              <th scope="row"><%= nb %></th>
              <% nb += 1 %>
              <td>
                <%= record.standard_rank %>
              </td>
              <td>
                <%= record.player.name_en %>
              </td>
              <td>
                <%= record.standard_rating %>
              </td>
            </tr>
            <% end %>
          </tbody>
      </table>
      <%= paginate(@records) %>
    </div>
    </div>
    </div>
</div>