
<div　class="container" style="min-height: 100%; height: 100%;">
    <div class='row mx-auto pl-1 pr-1 min-vh-100'>
    <div class="d-flex flex-column mx-auto mw-100">
    <div>
    <h1>Chess Ranking</h1>
    <hr>
    </div>

    <div class="table-responsive mt-5">
      <%= paginate(@players) %>

      <%# filter %>
      <div class="fs-5 align-items-center d-flex page-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <div><i class="fas fa-filter"></i></div>
        <div class="ms-3">filter</div>
        <div class="ms-auto">
        <i class="fas fa-angle-down fa-lg"></i>
        </div>
      </div>

      <%# collapse component %>
      <%= form_with url: "/players", method: :get, local: true, skip_enforcing_utf8: true, html: {class: "collapse", id: "collapseExample"} do |form| %>
        <div class="card card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= form.label :name, "name:" %>
            <%= form.text_field :name, value: @name %>
          </li>
          <li class="list-group-item">
            <%= form.label :rating, "rating:" %>
            <%= form.number_field :rating_lower, step: 1, min: 0, value: @rating_lower, class: "number_field_width" %> ~
            <%= form.number_field :rating_upper, step: 1, min: 0, value: @rating_upper, class: "number_field_width" %>
          </li>
          <li class="list-group-item">
            <%= form.label :name, "active:" %>
            <%= form.select :active, ["all", "active", "inactive"], selected: @active %>
          </li>
          <li class="list-group-item">
            <%= form.submit "Search", name: nil, class: "btn btn-outline-primary" %>
          </li>
        </ul>
        </div>
      <% end %>
      <%# collapse component %>
      <%# filter %>

      <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
           <% page = params[:page].to_i %>
           <% page = 1 if page == 0 %>
           <% nb = 1 + (page-1) * 25 %>
            <% @players.each do |player| %>
            <tr>
              <th scope="row"><%= nb %></th>
              <% nb += 1 %>
              <td>
                <%= player.name_en %>
              </td>
              <td>
                <%= player.rating_standard %>
              </td>
            </tr>
            <% end %>
          </tbody>
      </table>
      <%= paginate(@players) %>
    </div>
    </div>
    </div>
</div>