
<%= javascript_include_tag 'players/show' %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container" style="min-height: 100%;">
    <div class='row mx-auto pl-1 pr-1 min-vh-100'>
    <div class="d-flex flex-column mx-auto mw-100">
    <div>
    <h1>
        <%= link_to "Chess Ranking in Japan", players_path, {class: "nav-link text-body ps-0"} %>
    </h1>
    <hr>

    <h2 class="pb-3"><%= @player.name_en + ' ( ' + @player.name_jp + ' )' %></h2>
    <h4 class="">Rating: <%= @player.current_rating %>, Best: <%= @player.best_rating %></h4>
    <h4 class="">Rank: <%= @player.current_rank %>, Best: <%= @player.best_rank %></h4>

    <div class="pt-3">
      <canvas id="ratingChart" data-record='<%= @player.record_objects %>' data-date='<%= @player.dates %>'></canvas>
    </div>

    <div class="pt-3">
      <canvas id="rankChart" data-record='<%= @player.record_objects %>' data-date='<%= @player.dates %>'></canvas>
    </div>

    </div>
    </div>
    </div>
</div>