<!DOCTYPE html>
<html>
  <head>
    <title>Chess Ranking</title>
    <%= favicon_link_tag('white_king_log.png', {:type => 'image/png'}) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
