<!DOCTYPE html>
<html style="min-height: 100%; height: 100%;">
  <head prefix="og: https://ogp.me/ns#">
    <%= yield(:title) %>
    <%= yield(:description) %>
    <%= yield(:ogp) %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# for fontawesome %>
    <link href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" rel="stylesheet">

    <%= favicon_link_tag('white_king_log.png', {:type => 'image/png'}) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application'%>
    <%= stylesheet_link_tag 'bootstrap'%>

    <% if content_for?(:importmap_tag) %>
      <%= yield(:importmap_tag) %>
    <% else %>
      <%= javascript_importmap_tags 'application' %>
    <% end %>
    <%= yield(:additional_scripts) %>

    <% if Rails.env.production? %>
    <%# javascript sentry %>
    <script
      src="https://js.sentry-cdn.com/6a26b3d675241b1b3c25aa3d95fd0342.min.js"
      crossorigin="anonymous"
    ></script>
    <% end %>

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src=<%= "https://www.googletagmanager.com/gtag/js?id=#{Rails.application.credentials.google_analytics_id}" %>></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= "#{Rails.application.credentials.google_analytics_id}" %>');
      </script>
    <% end %>

  </head>

  <body style="min-height: 100%; height: 100%;">
    <%= yield %>
    <footer class="w-100">
      <div class="w-100">
        <div class='row mx-auto w-100 bg-dark text-white text-center' style="height: 100px">
          <div class="text-center w-100 mt-auto">
            <a href="https://twitter.com/stu345_self" target="_blank"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
            <a href="https://github.com/st34-satoshi/chess-ranking" class="ms-1" target="_blank"><i class="fab fa-github fa-lg"></i></a>
          </div>
          <div class="text-center w-100 mt-auto ms-3 mb-1">
          © 2021-<%= Time.current.year %> Satoshi Tanaka.
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
