<!DOCTYPE html>
<html style="min-height: 100%; height: 100%;">
  <head>
    <title>Chess Ranking</title>

    <%# for fontawesome %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%# for bootstrap %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= favicon_link_tag('white_king_log.png', {:type => 'image/png'}) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body style="min-height: 100%; height: 100%;">
    <%= yield %>
    <footer>
      <div　class="container">
        <div class='row mx-auto w-100 bg-dark text-white text-center' style="height: 300px">
          <div class="text-center w-100 mt-auto">
          © 2021 Satoshi Tanaka.
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
